/* REGOLE CSS */
/* regole generali */
:root {
    --my-bg-dark: #2c3e50;
    --my-bg-green: #1abc9c;
    --my-bg-quite-dark: #3a546d;
    --my-color-light: #ffffff;
    --my-color-dark: #000000;
}

.my-bg-dark {
    background-color: var(--my-bg-dark);
}


.my-bg-green {
    background-color: var(--my-bg-green);
}

.my-bg-quite-dark {
    background-color: var(--my-bg-quite-dark);
}

.my-color-light {
    color: var(--my-color-light);
}

.my-color-dark {
    color: var(--my-color-dark);
}


/* Header */
#header-top ul li:hover a {
    color: var(--my-bg-green);
}

#jumbo img {
    width: 40%;
}


#jumbo .my-decoration > hr {
    width: 50px;
    border: 1px solid;
    display: inline-block;
    vertical-align: middle;
    opacity: 1;
}

#jumbo .my-decoration > i {
    vertical-align: middle;
}





/* Main */
#section-3 label {
    display: block;
}

#section-3 input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
  }

#section-3 .form-special {
    display: block;
    width: 20%;
}



/* REGOLE DEBUG */
/* Header */
/* .debug #header-top {
    background-color: lightcoral;
    height: 50px;
}  

.debug #header-top .row {
    height: 50px;
}  

.debug #jumbo {
    background-color: lightblue;
} 

.debug #jumbo .box {
    background-color: green;
    height: 120px;
} 

.debug #jumbo .nested-box {
    background-color: limegreen;
    border: 1px dashed black;
}

.debug #jumbo .nested-box:first-child {
    height: 70px;
} 

.debug #jumbo .nested-box:last-child {
    height: 30px;
}  */


/* Main */
.debug #section-1 .card {
    background-color: orangered;
    border: 1px dashed black;
    height: 100px;
}



.debug #section-2 {
    background-color: lightgreen;
} 

.debug #section-3 .message {
    min-height: 150px;
} 


/* Footer */
.debug footer {
    background-color: yellow;
} 


/* REGOLE MEDIA QUERY */
@media screen and (min-width: 768px) {
    #jumbo img {
        width: 20%;
    }
}
