/* REGOLE CSS */
/* Header */
#header-top nav .box:last-child {
    display: none;
}

/* Main */
#section-3 label {
    display: block;
}

#section-3 input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
  }

#section-3 .form-special {
    display: block;
    width: 20%;
}



/* REGOLE DEBUG */
/* Header */
.debug #header-top {
    background-color: lightcoral;
    height: 50px;
}  

.debug #header-top .row {
    height: 50px;
}  

.debug #jumbo {
    background-color: lightblue;
} 

.debug #jumbo .box {
    background-color: green;
    height: 120px;
} 

.debug #jumbo .nested-box {
    background-color: limegreen;
    border: 1px dashed black;
}

.debug #jumbo .nested-box:first-child {
    height: 70px;
} 

.debug #jumbo .nested-box:last-child {
    height: 30px;
} 


/* Main */
.debug #section-1 .card {
    background-color: orangered;
    border: 1px dashed black;
    height: 100px;
}



.debug #section-2 {
    background-color: lightgreen;
} 

.debug #section-3 .message {
    min-height: 150px;
} 


/* Footer */
.debug footer {
    background-color: yellow;
} 


/* REGOLE MEDIA QUERY */
/* SM */
@media screen and (min-width: 768px) {
    #header-top nav .box:first-child {
        display: none;
    }

    #header-top nav .box:last-child {
        display: block;
    }
}
