/* REGOLE CSS */
/* Header */
#header-top nav .box:last-child {
    display: none;
}





/* REGOLE DEBUG */
.debug #header-top {
    background-color: lightcoral;
    height: 50px;
}  

.debug #header-top .row {
    height: 50px;
}  

.debug #jumbo {
    background-color: lightblue;
} 

.debug #jumbo .box {
    background-color: green;
    height: 120px;
} 

.debug #jumbo .nested-box {
    background-color: limegreen;
    border: 1px dashed black;
}

.debug #jumbo .nested-box:first-child {
    height: 70px;
} 

.debug #jumbo .nested-box:last-child {
    height: 30px;
} 

.debug #section-2 {
    background-color: lightgreen;
} 

.debug footer {
    background-color: yellow;
} 


/* REGOLE MEDIA QUERY */
/* @include media-breakpoint-up(md) {
    #header-top nav .box:first-child {
        display: none;
    }

    #header-top nav .box:last-child {
        display: block;
    }

    non ho capito perchè riportata questa regola in doc
} */


/* SM */
@media screen and (min-width: 768px) {
    #header-top nav .box:first-child {
        display: none;
    }

    #header-top nav .box:last-child {
        display: block;
    }
}

/* MD */


/* LG */